.main-title {
  margin-left: auto;
  margin-right: auto;
  
  text-align: center;
  padding: 0; 
  background-color: antiqueWhite; 
  color: black;
}
body {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: column; 
  background: linear-gradient(135deg, #a09237 0%, #ACB6E5 100%);
  justify-content: center; 
  align-items: center; 
}

.container {
  max-width: 600px;
  width: 90%;
  margin: 50px auto;
  background: antiqueWhite;
  padding: 100px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(22, 21, 21, 0.15);
  
}
h2, h3 {
  color: #2c3e50;
  text-align: center;
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  display: block;
  padding: 12px;
  background: #4a90e2;
  color: white;
  border-radius: 8px;
}

nav ul li a:hover {
  background: #357ABD;
  transform: scale(1.05);
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 15px;
}

label {
  font-weight: bold;
  font-size: 14px;
  color: #555;
}

input, select, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  transition: border 0.3s;
}

button {
  padding: 12px;
  background: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 14px;
}

table thead {
  background: #4a90e2;
  color: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

tr:nth-child(even) {
  background: #f9f9f9;
}
ul {
  list-style: disc inside;
  padding: 0 20px;
  color: #333;
}


.report-card {
    background: linear-gradient(135deg, #a09237 0%, #ACB6E5 100%);
    padding: 100px;
     border-radius: 15px;
     box-shadow: 0 8px 20px rgba(22, 21, 21, 0.15);
    width: 400px;
}

h1 {
    text-align: center;
    color: #333;
}

button:hover {
    background-color: #3b5bdb;
}
.info p {
    margin: 5px 0;
}
